.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.app-body {
  flex-grow: 1;
}

.app-loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
}
